html body {
	height: 100%;
	margin: 0;
	background-color: rgb(12, 12, 12);
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
.container {
	max-width: 1560px;
	margin: 0 auto;
	padding: 0 35px;
	color: initial;
}
.bg_container {
	background-image: url("./img/img_bg_copy.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: 75% 75%;
}

.profile_index {
	display: flex;
	justify-content: center;
	gap: 400px;
	padding: 100px 10px;
}

.profile_name {
	color: white;
	font-size: 150px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: justify;
}
.profile_data {
	color: white;
	font-size: 20px;
	padding-top: 70px;
	text-transform: lowercase;
	letter-spacing: 19px;
}
.img_index {
	height: 600px;
	border-radius: 20px;
}
.info_grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 80px 10px;
}

.profile_info_title {
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding-top: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.info_stats {
	font-size: 20px;
	color: white;
	letter-spacing: 2px;
	align-self: center;
	text-align: justify;
	padding-left: 200px;
}
.stats {
	padding: 30px 0px;
}

.img_stats {
	height: 600px;
	border-radius: 20px;
	margin: 0 px 15px;
	filter: grayscale(100%) contrast(107%);
}
.profile_extra {
	background-image: url("./img/img_background_1.jpg");
	background-repeat: repeat;
	background-position: 20% 75%;
}
.extra_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 200px;
	padding: 100px 10px;
}
.img_extra {
	height: 600px;
	border-radius: 20px;
}
.title_extra {
	align-self: center;
}
.extra_text {
	font-size: 50px;
	color: white;
	padding: 150px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.profile_contact {
	background-image: url("./img/img_grayscale.JPG");
	background-size: cover;
	background-position: 50%;
	height: 800px;
}

.contact_title {
	font-size: 50px;
	color: white;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: end;
	padding-top: 40px;
	padding-right: 40px;
}
.contact_info_wrapper {
	padding-top: 400px;
}
.contact_info {
	color: white;
	padding: 10px 0px 50px 80px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
